* {
    background-color: black;
}
.about2 {
    color: #22AFFF;
    font-family:'Courier New';
    text-align: center; 
    font-family: 'Ysabeau SC', sans-serif;
}

.about3 {
    color: white;
    font-size: larger;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}