* {
    background-color: black;
}

.contact2 {
    color: #22AFFF;
    font-size: xx-large;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}

.email {
    color: white;
    font-size: large;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}

.phone {
    color: white;
    font-size: large;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}

.address {
    color: white;
    font-size: large;
    text-align: center;  
    font-family: 'Ysabeau SC', sans-serif;
}