* {
    background-color: black;
    font-family: 'Ysabeau SC', sans-serif;
    color: white;
}

.Name {
    color: #22AFFF;
    font-size: xx-large;
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
}